html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #dadada;
  color: #000;
  margin-top: 40px;
}

h1 {
  font-size: 28px;
  padding: 15px;
}

h2 {
  color: #20191c;
  font-size: 20px;
  padding: 0 0 15px 0;
}

h3 {
  display: inline-block;
  margin: 15px;
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  border: 5px #000 double;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 50px rgba(53, 53, 53, 0.5);
          box-shadow: 0 0 50px rgba(53, 53, 53, 0.5);
}

.container {
  width: 1170px;
  margin: 0px auto;
  padding: 100px 0;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.container-wrapper {
  padding: 20px;
  margin: 30px 30px;
  border: 2px #000 solid;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.container-inner {
  width: 500px;
  border: 2px #000000 solid;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 50px rgba(73, 73, 73, 0.5);
          box-shadow: 0 0 50px rgba(73, 73, 73, 0.5);
}

header {
  width: 1170px;
  margin: 40px auto 0;
}

.header {
  width: 1170px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.button-kategory {
  margin-top: 5px;
  width: 200px;
  height: 40px;
  background-color: #ffc107;
  font-size: 24px;
  font-weight: 800;
  border: #000 2px solid;
}

.button-kategory:hover {
  background-color: #624394;
  color: #ffc107;
  border: #18b5a4 2px solid;
}

.icon-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dadada;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-logo img {
  width: 150px;
  margin-left: 35px;
}

.img__metro {
  background-color: blue;
}

.img__auchan {
  background-color: #fff;
}

.img__megamarket {
  background-color: #fff;
}

.container-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row nowrap;
          flex: row nowrap;
  widows: 1000px;
  background-color: #4c309c;
  color: #000;
}

.icon-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.icon-params p {
  padding: 5px;
  color: #fff;
}

li a {
  color: white;
  text-decoration: none;
}

img.icon-setting {
  width: 20px;
  margin: 5px;
}

.logo__container {
  width: 200px;
  height: 50px;
  border: #000 1px solid;
  margin: 5px;
}

.logo-market {
  padding: 20px;
  margin: 20px 190px;
  border: 2px #000 solid;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.logo-market img:nth-child(2n) {
  padding: 10px;
}

.jskmb-calculator {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row wrap;
          flex: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 25px 15px;
  text-align: center;
  border: 10px #bb3232 double;
  background-color: #3c73a7;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.jskmb-calculator .operations-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: row;
      -ms-flex: row wrap;
          flex: row wrap;
}

.jskmb-calculator .operations-block button {
  width: 40px;
  height: 40px;
  margin: 15px;
  font-weight: 600;
}

.jskmb-calculator .operations-block button:last-child {
  width: 80%;
}

.jskmb-calculator .operation-block-numbers {
  width: 60%;
}

.jskmb-calculator .operations-block-oper {
  width: 40%;
}

.inputs-block .input-block {
  display: inline-block;
  padding: 10px;
}

.inputs-block .input-block label {
  display: block;
  color: #fff;
  padding: 5px;
}

.button {
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 20px;
  top: 0;
  position: relative;
}

.button_1 {
  color: #fff;
  background-color: #5e5373;
  -webkit-box-shadow: 0 5px 0px #3c354a;
          box-shadow: 0 5px 0px #3c354a;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.button_1:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0px #3c354a;
          box-shadow: 0 3px 0px #3c354a;
  background-color: #18b5a4;
}

.container_button {
  text-align: center;
  height: 50px;
}

.section-hot li,
.section-news li {
  padding: 10px;
}

.section-hot li:hover,
.section-news li:hover {
  background-color: aqua;
}

.section-hot li:hover a,
.section-news li:hover a {
  color: #fff;
}

.hot-header {
  background-color: aqua;
}

.realty-header {
  background-color: cadetblue;
}

.section-news h2 {
  margin: 10px;
  color: white;
  padding: 10px;
}

.section-news li a {
  color: #000;
}

.cities {
  text-align: center;
}

#cities {
  width: 100px;
}

.cities-text {
  color: #000;
  font-size: 20px;
}

.form-row {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column nowrap;
          flex: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  width: 200px;
}

#avatar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#avatar__wrapper img {
  width: 300px;
}

#avatar {
  margin: 15px;
  border: orange 5px solid;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.default-input {
  border: #1f11e9 5px solid;
  padding: 5px;
}

.error-input {
  border-color: red;
  border-radius: 25px;
  text-align: center;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
