html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #dadada;
  color: #000;
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  padding: 15px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #20191c;
  font-size: 20px;
  padding: 0 0 15px 0;
}

h3 {
  display: inline-block;
  margin: 15px;
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  border: 5px #000 double;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(53, 53, 53, 0.5);
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0px auto;
  padding: 100px 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.container-wrapper {
  align-items: center;
  padding: 20px;
  margin: 30px 30px;
  border: 2px #000 solid;
  box-shadow: 0 0 20px #000;
}

.container-inner {
  width: 500px;
  border: 2px #000000 solid;
  margin: 0 auto;
  box-shadow: 0 0 50px rgba(73, 73, 73, 0.5);
}

header {
  width: 1170px;
  margin: 40px auto 0;
}

.header {
  width: 1170px;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header a img {
  transition: 1s;
}

.header a img:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.button-kategory {
  margin-top: 5px;
  width: 200px;
  height: 40px;
  background-color: #ffc107;
  font-size: 24px;
  font-weight: 800;
  border: #000 2px solid;
}

.button-kategory:hover {
  background-color: #624394;
  color: #ffc107;
  border: #18b5a4 2px solid;
}

.icon-logo {
  display: flex;
  background-color: #dadada;
  align-items: center;
}

.icon-logo img {
  width: 150px;
  margin-left: 35px;
}

.img__metro {
  background-color: blue;
}

.img__auchan {
  background-color: #fff;
}

.img__megamarket {
  background-color: #fff;
}

.container-icon {
  display: flex;
  flex-flow: row nowrap;
  widows: 1000px;
  background-color: #4c309c;
}

.container-icon a {
  color: #000;
}

.icon-params {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: 1s;
}

.icon-params a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}

.icon-params a:hover {
  color: yellow;
}

.icon-params:hover {
  background-color: #c51a1a;
  transform: scale(1.1);
  border: #000 solid 1px;
  border-radius: 15px;
}

li a {
  color: white;
  text-decoration: none;
}

img.icon-setting {
  width: 20px;
  margin: 5px;
}

.logo__container {
  width: 200px;
  height: 50px;
  border: #000 1px solid;
  margin: 5px;
}

.logo-market {
  padding: 20px;
  margin: 20px 190px;
  box-shadow: 0 0 20px #000;
}

.logo-market img:nth-child(2n) {
  padding: 10px;
}

.logo-market img {
  border: 2px #000 solid;
  border-radius: 15px;
  transition: 1s;
}

.logo-market img:hover {
  transform: scale(1.1);
}

.jskmb-calculator {
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px 15px;
  text-align: center;
  border: 10px #bb3232 double;
  background-color: #3c73a7;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.jskmb-calculator .operations-block {
  display: flex;
  justify-content: center;
}

.jskmb-calculator .operations-block button {
  width: 40px;
  height: 40px;
  margin: 15px;
  font-weight: 600;
}

.jskmb-calculator .operations-block button:last-child {
  width: 80%;
}

.jskmb-calculator .operation-block-numbers {
  width: 60%;
}

.jskmb-calculator .operations-block-oper {
  width: 40%;
}

.inputs-block .input-block {
  display: inline-block;
  padding: 10px;
}

.inputs-block .input-block label {
  display: block;
  color: #fff;
  padding: 5px;
}

.button {
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 20px;
  top: 0;
  position: relative;
  outline: none;
}

.button:active,
.button :visited {
  outline: none;
}

.button_1 {
  outline: none;
  color: #fff;
  background-color: #5e5373;
  box-shadow: 0 5px 0px #3c354a;
  transition-duration: 1s;
}

.button_1:hover {
  top: 2px;
  box-shadow: 0 3px 0px #3c354a;
  background-color: #18b5a4;
}

.container_button {
  text-align: center;
  height: 50px;
  display: inline;
}

#itk-slider1,
#itk-slider2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

#itk-slider1 .slide-img,
#itk-slider2 .slide-img {
  width: 480px;
  height: 280px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: #37ca19 solid 5px;
}

#itk-slider1 button,
#itk-slider2 button {
  outline: none;
  width: 100px;
  height: 50px;
  margin: 10px;
  background-color: #dfdb14;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#itk-slider1 button:hover,
#itk-slider2 button:hover {
  background-color: #b231d3;
  color: white;
  font-weight: 800;
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition-duration: 1s;
}

#itk-slider1 button:active,
#itk-slider1 button :focus,
#itk-slider2 button:active,
#itk-slider2 button :focus {
  outline: none;
}

#itk-slider1 button:disabled,
#itk-slider2 button:disabled {
  color: black;
  font-weight: 800;
  background-color: #f70000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition-duration: 0.3s;
}

.service-grid-b {
  position: relative;
}

.service-photo-text-aa {
  display: flex;
  color: #808080;
  font-family: Montserrat-bold;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  align-items: center;
  padding-left: 61px;
}

.service-photo-text-aa::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 12px;
  background-image: url(https://www.sigtarp.gov/SiteAssets/template/img/angle-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  transform: rotate(0deg);
}

.service-photo-title-a .active .service-photo-text-aa::before {
  transform: rotate(180deg);
}

.service-photo-title-a {
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid #df9f9f;
  cursor: pointer;
}

.service-photo-text-b {
  width: 100%;
  height: 181px;
  border: 1px solid #df9f9f;
  display: none;
}

.service-photo-text-bb {
  width: 525px;
  height: 132px;
  color: #16e449;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.service-crea-text-aa {
  display: flex;
  color: #808080;
  font-family: Montserrat-bold;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  align-items: center;
  padding-left: 61px;
}

.service-crea-text-aa::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 12px;
  background-image: url(https://www.sigtarp.gov/SiteAssets/template/img/angle-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 80%;
  transform: rotate(0deg);
}

.service-crea-text-aa::before:active {
  position: absolute;
  content: "";
  transform: rotate(40deg);
}

.service-crea-title-a {
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid #df9f9f;
  cursor: pointer;
}

.service-crea-text-b {
  width: 100%;
  height: 181px;
  border: 1px solid #df9f9f;
  display: none;
}

.service-crea-text-bb {
  width: 525px;
  height: 132px;
  color: #16e449;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.service-web-text-aa {
  display: flex;
  color: #808080;
  font-family: Montserrat-bold;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  align-items: center;
  padding-left: 61px;
}

.service-web-text-aa::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 12px;
  background-image: url(https://www.sigtarp.gov/SiteAssets/template/img/angle-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -4%;
  transform: rotate(0deg);
}

.service-web-text-aa::before:active {
  position: absolute;
  content: "";
  transform: rotate(40deg);
}

.service-web-title-a {
  display: flex;
  width: 100%;
  height: 60px;
  border: 1px solid #df9f9f;
  cursor: pointer;
}

.service-web-text-b {
  width: 100%;
  height: 181px;
  border: 1px solid #df9f9f;
  display: none;
}

.service-web-text-bb {
  width: 525px;
  height: 132px;
  color: #16e449;
  font-family: "Roboto - Light Italic";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.cities {
  text-align: center;
}

#cities {
  width: 100px;
}

.cities-text {
  color: #000;
  font-size: 20px;
}

.form-row {
  margin: 10px;
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
}

#avatar__wrapper {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.foto {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.foto img {
  width: 350px;
}

#avatar {
  margin: 15px;
  border: orange 5px solid;
  border-radius: 35px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-clip: content-box;
}

.default-input {
  border: #1f11e9 5px solid;
  padding: 5px;
}

.error-input {
  border-color: red;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
