.section-hot,
.section-news{
	li{
	padding: 10px;
	&:hover{
		background-color: aqua;
		a{
			color:#fff;
		}
	};
	}
}
.hot-header{
	background-color: aqua;
}
.realty-header {
	background-color: cadetblue;
}
.section-news {
	h2{
		margin: 10px;
		color: white;
		padding: 10px;
	}
	li{
		a{
			color:#000;
		}
		&:hover{

		}
	}
}
