<<<<<<< HEAD
@import "./base/null";
@import "./base/basic";
@import "./block/header";
@import "./base/perem";
@import "./block/calc";
@import "./block/animation";
@import "./block/slider";
=======
@import "./null";
@import "./basic";
@import "./header";
@import "./perem";
@import "./calc";
@import "./animation";
@import "./learn_style";
>>>>>>> 454617e4145969aca65bbd5d7c67477b6c9451e3

.cities {
	text-align: center;
}
#cities {
	width: 100px;
}
.cities-text {
	color: #000;
	font-size: 20px;
}
.form-row {
	margin: 10px;
	display: flex;
	flex: column nowrap;
	justify-content: center;
}
input {
	width: 200px;
}
#avatar__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 300px;
	}
}
#avatar {
	margin: 15px;
	border: orange 5px solid;
	border-radius: 35px;
	box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.5);
}
.default-input {
	border: rgb(31, 17, 233) 5px solid;
	padding: 5px;
}
.error-input {
	border-color: red;
	border-radius: 25px;
	text-align: center;
	box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.5);
}
