.button {
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 20px;
  top: 0;
  position: relative;
}
.button_1 {
  color: #fff;
  background-color: #5e5373;
  box-shadow: 0 5px 0px #3c354a;
  transition-duration: 1s;
  &:hover{
    top: 2px;
    box-shadow: 0 3px 0px #3c354a;
    background-color: #18b5a4;
  }
}

.container_button {
  text-align: center;
  height: 50px;
}
