header {
    width: 1170px;
    margin: -10px auto 0;
    .header {
        width: 1170px;
        position: fixed;
        top: 0;
        z-index: 9999;
    }
}

.container-inner {
    a {
        img {
            transition: 1s;
            &:hover {
                opacity: 0.5;
                transform: scale(1.05);
            }
        }
    }
}
.button-kategory {
    margin-top: 5px;
    width: 200px;
    height: 40px;
    background-color: #ffc107;
    font-size: 24px;
    font-weight: 800;
    border: #000 2px solid;
    &:hover {
        background-color: rgb(98, 67, 148);
        color: #ffc107;
        border: #18b5a4 2px solid;
    }
}
.icon-logo {
    display: flex;
    background-color: #dadada;
    align-items: center;
    img {
        width: 150px;
        margin-left: 35px;
    }
}
.img__metro {
    background-color: blue;
}
.img__auchan {
    background-color: #fff;
}
.img__megamarket {
    background-color: #fff;
}
.container-icon {
    display: flex;
    flex-flow: row nowrap;
    widows: 1000px;
    background-color: #4c309c;
    a {
        color: #000;
    }
}
.icon-params {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 1s;
    a {
        text-decoration: none;
        padding: 5px;
        color: #fff;
        &:hover {
            color: yellow;
        }
    }
    &:hover {
        background-color: #c51a1a;
        transform: scale(1.1);
        border: #000 solid 1px;
        border-radius: 15px;
    }
}
li {
    a {
        color: white;
        text-decoration: none;
    }
}
img {
    &.icon-setting {
        width: 20px;
        margin: 5px;
    }
}

.logo-market {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px;
    box-shadow: 0 0 10px #000;
    .logo__container {
        /* Три значения: flex-grow | flex-shrink | flex-basis */
        flex: 0 1 30%;
        height: 50px;
        margin: 5px;
        padding: 2px;
    }
     /* заглушка для разделения флекс контейнеров. Не используется... */
    .break {
        flex-basis: 100%;
        height: 0;
    }
    img:nth-child(2n) {
        padding: 4px;
    }
    img {
        border: 2px #000 solid;
        border-radius: 15px;
        transition: 1s;
        &:hover {
            transform: scale(1.07);
            //transition: 1s;
        }
    }
}
